body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bg-local-primary {
  background-color: #2C5F85 !important;
}

a {
  color: #00B7FF;
}

.site-footer {
  padding: 2.5rem 0;
  color: #4e4e4e;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
